.product-card {
  display: flex;
  flex-direction: column;
  padding: 32px 16px 16px;
  width: $product-card-width;

  background-color: $accent-white-color;
  border: 1px solid $accent-light-gray-color;
  border-radius: 5px;

  transition: transform $hover-effects-duration;

  &:hover {
    transform: scale(1.2);
  }

  &__img {
    align-self: center;
    margin-bottom: 40px;
    height: 134px;
  }

  &__title {
    margin-bottom: 4px;

    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }

  &__code {
    margin-bottom: 16px;

    font-size: 10px;
    line-height: 14px;
    color: $accent-gray-color;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
  }

  &__reviews {
    font-size: 10px;
    line-height: 14px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__price-text {
    font-size: 12px;
    line-height: $price-line-height;
    color: $accent-gray-color;
  }

  &__price-value {
    font-size: 16px;
    font-weight: 700;
    line-height: $price-line-height;
  }

  &__buy-button {
    padding: 11px 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: $accent-white-color;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    background-color: $accent-blue-color;
    border: 1px solid transparent;
    border-radius: 5px;

    transition: color $hover-effects-duration,
      border-color $hover-effects-duration,
      background-color $hover-effects-duration;

    &:hover {
      color: $accent-blue-color;
      border-color: $accent-blue-color;
      background-color: $accent-white-color;
    }
  }
}
